/* CSS Variables */

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #484bbf;
  --slate: #434455;
  --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
}

/* General Elements */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
  text-decoration: none;
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.studio {
  color: var(--navyblue);
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.contacts-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(last-child) {
  margin-right: 50px;
}

.bg-hero {
  background-color: var(--navyblue);
}

.nav-menu .page,
.contacts-menu .contact {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.contacts-menu .contact {
  color: var(--slate);
  font-weight: 400;
}

.nav-menu {
  margin-left: 93px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}

.hero {
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.06em;
  color: var(--white);
  margin-bottom: 30px;
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  line-height: 1.14;
  margin-bottom: 10px;
}

.section .benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}

.list.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.bg-team {
  background-color: var(--cloud);
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

.substrate {
  background-color: var(--white);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.page-footer.bg-footer {
  background-color: var(--navyblue);
  padding: 60px 0;
}

.studio-footer {
  color: var(--cloud);
}

.logo-link.footer {
  margin-bottom: 20px;
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  padding-top: 17px;
  font-weight: 400;
}

.button {
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

.button.primary {
  color: white;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 500;
  padding: 16px 32px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.filter {
  background-color: var(--cloud);
  color: var(--iris);
  font-style: normal;
  line-height: 1.62;
  font-weight: 500;
  padding: 6px 22px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.project-type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
}
/*Header Section*/

.logo,
.studio {
  display: inline-block;
}

.logo {
  color: var(--iris);
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

/* Section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-top-padding {
  padding-top: 0;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .space + .space {
  margin-left: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
